# Logs
*.log
chrome_dom.log
chrome_dom_utf8.log
chrome_error.log
test_input.html
test_e2e.html
test_main.html
test_sync.html

# Operating system files
Thumbs.db
desktop.ini
.DS_Store

# IDE and Editor Files
# IDE and Editor Files
/.vscode/
/.vs/


# Google Cloud Service Account Credentials
service-account.json
service-account.p12
*.p12
check_indexing.ps1
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
tmp/
temp/
